<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="Blog.js"></script>
		<link rel="stylesheet" type="text/css" href="Blog.css">
	</head> 

		<!--Body beginning-->
	<body ng-app='myApp' ng-controller="myCtrl">
		
				<!--Create post-->
		<h1>Create post</h1>
			<div style='padding-left:20px'>
				<p>Titre : <input ng-model='newTitre'></p>
				<p>Contenu : <textarea ng-model='$parent.newContenu'></textarea></p>
				<input type='submit' ng-click="addPost(newTitre,newContenu)">
			</div>
			

				<!--Show posts-->
		<h1>Posts</h1>
			<div style='padding-left:20px'>
				<div ng-repeat="post in posts" class='Post' ng-style="post['love'] < 0 && {'background-color':'red'} || post['love'] > 0 && {'background-color':'lightgreen'}">
					<div>
						<h2 class='Titre' >{{post['titre']}}</h1>
						<p class='Date'>{{post['date'] | date:'MM/dd/yyyy @ h:mma'}}</p>
					</div>
					<p>{{post['contenu']}}</p>
					<button ng-click="post['love'] = post['love'] + 1">Love it !</button>	<button ng-click="post['love'] = post['love'] - 1">Don't love it</button>
					<p>{{post['love']}} love</p>
				</div>
			</div>
	</body>
		<!--Body end-->
</html>
